[bridge]

;
; core configuration options
;

;
; listener_port
; port to listen for incoming feed requests
;
listener_port=3774

;
; feed_host
; the IP address of this machine for Cb to contact with feed requests
;
feed_host=127.0.0.1

;
; listener_address
; ipv4 address to listen; defaults to 127.0.0.1
; 0.0.0.0 binds to all interfaces
;
listener_address=0.0.0.0

; wildfire_api_keys
; API keys (separated by semicolons) used to contact the WildFire API service
wildfire_api_keys=

;
; legacy_feed_directory
; Import feed reports from the old version of the Wildfire connector the first time the new daemon runs.
;
legacy_feed_directory=/usr/share/cb/integrations/carbonblack_wildfire_bridge/feed_backup

;
; Carbon Black Enterprise Server options
;

;
; Carbon Black Enterprise Server URL
;
carbonblack_server_url=https://localhost/

;
; Carbon Black Enterprise Server API Token
;
carbonblack_server_token=

;
; Carbon Black Enterprise Server SSL Verfication
;
carbonblack_server_sslverify=0

;
; binary_filter_query
; Additional query options to filter only binaries of interest to the Wildfire connector
;
binary_filter_query=is_executable_image:true is_64bit:false -digsig_publisher:"Microsoft Corporation"

;
; debugging options
;

; debug
; enables various debug output
;
debug=1